.lineBreaks{
	border-color: transparent;
	background-color: #D3D3D3;
}

.socialIcons{
	padding-top: 20px;
	padding-bottom: 50px;
}


.navbar{
	width: 100%;
	min-height: 110px;
	background-color: rgb(59,12,12);
	border-color: transparent;
	color: #D14233;
}

.pic
{
	border: 1px solid #eee;
    height: 80%;
    width: 80%;
}

.navbar-wrapper{
	background-color: rgb(59,12,12);
}



.navbar-default .navbar-text {
	color: #fff;
}

.navbar-default .navbar-nav > li > a{
	color: #b70303;
	font-size: 17px;

}

.navbar-default .navbar-nav > li > a:hover{
	border-style: solid;
	border-color: #b70303;
	color: #b70303;
}

.navbar-default .navbar-nav > .active > a{
	background-color: transparent;
	border-style: solid;
	color: #b70303;
	border-color: #b70303;


}

.navbar-default .navbar-nav > .active > a:hover{
	background-color: transparent;
	color: #b70303;
}


ul.nav.navbar-nav.navbar-right{
	background: transparent;
	padding-top: 30px;
	padding-right: 100px;
}

.navbar-toggle{
	margin-top: 30px;
	margin-right: 40px;
}

.navbar-toggle-collapsed{
	background-color: rgb(59,12,12);
}

.navbar-default .navbar-toggle {
    border-color: #b70303;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgb(59,12,12);
}


#mynavbar-content.navbar-collapse.collapse.in{
	border-top: none;
	box-shadow: none;
	padding-top: 30px;
}

.container-fluid .navbar-collapse{
	border-top: none;
	box-shadow: none;
}

.container-fluid-custom{
	padding-top: 120px;
	padding-bottom: 160px;
	
}

.fa:hover{
	text-decoration: none;
	color: #fff;
}


@media (max-width:768px) {
	.socialIcons{
		padding-bottom: 100px;
	}




}

